header .width-nav {
  width: 50%; }
  header .width-nav a {
    color: white; }

.bg-color {
  background-color: darkslateblue; }

.box-1-text, .box-2-text, .box-3-text {
  color: white;
  background-color: #B520D7;
  border-radius: 10px; }

.box-2-text {
  background-color: darkslateblue; }

.contCarousel {
  width: 1000px;
  height: 610px;
  align-self: center; }

.contCarouselShorts {
  width: 450px;
  height: 600px;
  align-self: center; }

body {
  background-color: darkslateblue; }

span {
  color: white; }

h1, h2 {
  background-color: #3C1E7A;
  font-family: Helvetica;
  text-align: center;
  font-size: 50px;
  color: white;
  margin: 0;
  padding: 0; }

main {
  background-image: url(../assets/img/header.jpg); }
  main p, main h5 {
    font-size: 19px;
    color: white;
    padding: 8px; }
  main h5 {
    font-size: 25px;
    padding: 3px; }

.box-2-iframe, .box-3-iframe {
  border-radius: 15px; }

.transition {
  width: 580px;
  transition: 1s; }

.transition:hover {
  width: 620px; }

.box-contact {
  height: 600px; }

.main-index article {
  height: 600px; }

.main-index .cards {
  height: 700px; }

footer {
  justify-content: space-between; }

/* Media query*/
@media screen and (max-width: 768px) {
  div p, div main h5, main div h5, form label, form p, form main h5, main form h5 {
    font-size: 15px; }
  h1, h2 {
    font-size: 21px; }
  .main-index section article {
    height: auto; }
  .main-index .cards {
    height: 800px; }
  .contCarousel, .contCarouselShorts {
    width: auto;
    height: auto; }
  iframe {
    height: auto;
    width: auto; }
  .box-1-img {
    margin-top: 20px; }
    .box-1-img img {
      width: 80%;
      height: 80%; }
  .box-1-text, .box-2-text, .box-2-text, .box-3-text {
    line-height: 1.2; }
  .none {
    display: none; }
  textarea {
    resize: none; }
  footer {
    justify-content: center; }
    footer li {
      padding: 10px; }
      footer li img {
        width: 40px;
        height: 40px; } }
