$colorPrimario: #3C1E7A;
$colorSecundario: #B520D7;
$bgPrimario: darkslateblue;
$textColor: white;
.box.aboutme .text-in-english p{
    background-color: $colorSecundario;
    text-align: center;
    border-radius: 10px;
}