@import "colores";
@import "header";
@import "map";
@import "mixin";

body{background-color: $bgPrimario;}
span{color:$textColor;}
h1,h2{
    background-color: $colorPrimario;
    font-family: Helvetica;
    text-align: center;
    font-size: 50px;
    color: $textColor;
    margin: 0;
    padding: 0;
}
main{
    background-image: url(../assets/img/header.jpg);
    p{
        font-size: 19px;
        color: $textColor;
        padding: 8px;
    }
    h5{
        @extend p;
        font-size: 25px;
        padding: 3px;
    }
}
.box-2-iframe,.box-3-iframe{
    border-radius: 15px;
}
.transition{
    width: 580px;
    transition: 1s;
}
.transition:hover{
    width: 620px;
}
.box-contact{
    height: 600px;
}
.main-index{
    article{
    height: 600px;
    }
}
.main-index{
    .cards{
    height: 700px;
    }
}
footer{
    justify-content: space-between;
}
/* Media query*/
@media screen and (max-width: 768px){
    div p,form label,form p{font-size: 15px;}
    h1,h2{font-size: 21px;}
	.main-index section article{
        height: auto;
    }
    .main-index .cards{
        height: 800px;
    }
    .contCarousel,.contCarouselShorts{
        width: auto;
        height: auto;
    }
	iframe{height: auto; width: auto;}
	.box-1-img{
        margin-top: 20px;
        img{
            width: 80%;
            height: 80%;
        }
    }
    .box-1-text,.box-2-text,.box-3-text{line-height: 1.2;}
	.none{display: none;}
	textarea{resize: none;}
    footer{
        justify-content: center;
        li{
            padding: 10px;
            img{
                width: 40px;
                height: 40px;
            }
        }
    }
}

$carousel-control-color:             $white;
$carousel-control-width:             15%;
$carousel-control-opacity:           .5;
$carousel-control-hover-opacity:     .9;
$carousel-control-transition:        opacity .15s ease;

$carousel-indicator-width:           30px;
$carousel-indicator-height:          3px;
$carousel-indicator-hit-area-height: 10px;
$carousel-indicator-spacer:          3px;
$carousel-indicator-opacity:         .5;
$carousel-indicator-active-bg:       $white;
$carousel-indicator-active-opacity:  1;
$carousel-indicator-transition:      opacity .6s ease;

$carousel-caption-width:             70%;
$carousel-caption-color:             $white;
$carousel-caption-padding-y:         1.25rem;
$carousel-caption-spacer:            1.25rem;

$carousel-control-icon-width:        2rem;

$carousel-control-prev-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
$carousel-control-next-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");

$carousel-transition-duration:       .6s;
$carousel-transition:                transform $carousel-transition-duration ease-in-out; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)

$carousel-dark-indicator-active-bg:  $black;
$carousel-dark-caption-color:        $black;
$carousel-dark-control-icon-filter:  invert(1) grayscale(100);